---
layout: single
author:
  name: "Paige E. Martin"
  avatar: "assets/paige.jpg"
  bio: "Climate Scientist & Open Science Enthusiast <br> <br>
        **Postdoctoral Research Scientist** <br>
        *Lamont-Doherty Earth Observatory, Columbia University* <br>
        *Australian National University*"
  location: "Canberra, Australia"
  links:
  - label: "Twitter"
    icon: "fab fa-fw fa-twitter-square"
    url: "https://twitter.com/SciencePaige"
  - label: "GitHub"
    icon: "fab fa-fw fa-github"
    url: "https://github.com/paigem"
  - label: "LinkedIn"
    icon: "fab fa-fw fa-linkedin"
    url: "https://www.linkedin.com/in/paige-martin-phd/"
#  - label: "Instagram"
#    icon: "fab fa-fw fa-instagram"
#    url: "https://instagram.com/AcroPaige"
author_profile: true
title: Paige E. Martin
header:
  overlay_color: "#000"
  overlay_filter: "0.2"
  overlay_image: assets/ocean_albatross_straightened.JPG
  actions:
    - label: "Download CV"
      url: "assets/Paige_CV.pdf"
feature_row:
  - image_path: assets/research_global_map.png
    alt: "placeholder image 1"
    title: "Research"
    excerpt: "Understanding the ocean's role in climate variability and air-sea interaction"
  - image_path: assets/cormorant.JPG
    alt: "Open science"
    title: "Open Science"
    excerpt: "Promoting open source-software, open data, and open practices in the climate science community"
  - image_path: assets/coessing_2019.jpg
    title: "Capacity Building"
    excerpt: "Inspiring ocean science education and research collaborations globally"
plugins:
---


{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<p style="color:#808080"><i>Please note that this site is still under construction. Check back soon for updates!</i></p>
