---
layout: single
author:
  name: "Paige E. Martin"
  avatar: "assets/paige.jpg"
  bio: "Climate Scientist & Open Science Enthusiast <br> <br>
        **Support Scientist** <br>
        NASA Transform to Open Science"
  location: "New York, NY"
  links:
  - label: "Twitter"
    icon: "fab fa-fw fa-twitter-square"
    url: "https://twitter.com/SciencePaige"
  - label: "GitHub"
    icon: "fab fa-fw fa-github"
    url: "https://github.com/paigem"
  - label: "LinkedIn"
    icon: "fab fa-fw fa-linkedin"
    url: "https://www.linkedin.com/in/paige-martin-phd/"
  - label: "Email"
    icon: "fab fa-fw fa-envelope"
    url: "mailto:paige.e.martin@nasa.gov"
#  - label: "Instagram"
#    icon: "fab fa-fw fa-instagram"
#    url: "https://instagram.com/AcroPaige"
author_profile: true
title: Paige E. Martin
header:
  overlay_color: "#000"
  overlay_filter: "0.2"
  overlay_image: assets/ocean_albatross_straightened.JPG
  actions:
    - label: "Download CV"
      url: "assets/Paige_CV.pdf"
feature_row:
  - image_path: assets/research_global_map.png
    alt: "Scientific Research"
    title: "Scientific Research"
    excerpt: "Understanding the ocean's role in climate variability and air-sea interaction"
  - image_path: assets/cormorant.JPG
    alt: "Open science"
    title: "Open Science"
    excerpt: "Promoting open-source software, open data, and open practices in the science community"
  - image_path: assets/coessing_2019.jpg
    title: "Capacity Development"
    excerpt: "Inspiring ocean science education, training, and global research collaborations"
plugins:
---


{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<p style="color:#808080"><i>This site is under development. Please check back soon for more content!</i></p>
